/*登录页面样式*/
.panel-heading {

    height: 40px;
}

.panel-body {
    height: 220px;
    margin-top: 10px;
}

.dr {
    margin-top: 130px;
}

.dran {
    width: 100%;

}

.errors {
    height: 10px;
}

p.errors {
    color: red;
}

.input_email, .input_password {
    background-color: #f2f6f9;
}

p.error {
    color: red;
    margin-top: 2px;
}

